<section>
<span class="byline">Just say "no!" to MIME-sniffing!</span>



<b>What It Looks Like:</b> X-Content-Type-Options: nosniff<BR><BR>
<b>A great example:</b> <a href="https://securityheaders.com/2013/05/01/virustotalcom.php">Virustotal.com</a><BR><BR>

<h3>Tell Me More</h3>

Microsoft Internet Explorer (IE) has the ability to guess the type of content may be found in a file, a process called "MIME-sniffing". Since IE can be tricked by an attacker into making the incorrect decision about types of files it sees online, webmasters can tell IE to not to sniff. Yes, you guessed it: that directive is called "nosniff" and it&#039;s communicated to IE in HTTP headers. As Microsoft writes, "Sites hosting untrusted content can use the nosniff directive to ensure that text/plain files are not sniffed to anything else."<BR><BR>

<h3>Further Reading</h3>

<ul>
<li><a href="http://blogs.msdn.com/b/ie/archive/2008/07/02/ie8-security-part-v-comprehensive-protection.aspx" target="_blank">Microsoft documentation on NoSniff</a></li>
</ul>

</section><section><hr><h4>We have seen this done well 2569 times. Here are a few...</h4>
<li>
<a href="https://securityheaders.com/2013/06/30/kinodontonco.php">kinodonton.co</a>, examined Jun, 30, 2013
</li>
<li>
<a href="https://securityheaders.com/2013/08/12/raw1storg.php">raw1st.org</a>, examined Aug, 12, 2013
</li>
<li>
<a href="https://securityheaders.com/2013/06/14/01basmacom.php">01basma.com</a>, examined Jun, 14, 2013
</li></section>
